<header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-blue">
        <a class="navbar-brand">
            <mat-icon class="" (click)="drawer.toggle()">menu</mat-icon> 
        </a>
        <a class="navbar-brand" href="#">
          WINTERFELL
        </a>
      </nav>
  </header>
  <div class="container-fluid">
      <div class="row">
          <mat-drawer-container autosize>
              <mat-drawer #drawer [(opened)]="drawerOpened" class="col-sm-3 col-md-2 col-2 bg-light sidebar" mode="side">
                  <ul class="nav nav-pills flex-column">
                      <li class="nav-item">
                        <a class="nav-link {{url == '/dashboard' ? 'active' : ''}}" data-toggle="collapse" data-target="#navPillsDashboard" href="/dashboard" aria-expanded="false"><mat-icon class="icon-nav">dashboard</mat-icon>
                           <span class="d-none d-sm-block">
                              Dashboard
                           </span>
                          </a>
                        <ul class="sub-nav collapse navbar-collapse" id="navPillsDashboard">
                          <li class="nav-item sub-nav-item">
                            <a class="nav-link" href="/"><mat-icon class="icon-nav">insert_chart</mat-icon> 
                              <span class="d-none d-sm-block">
                                  Care Gaps
                               </span>
                            </a>
                          </li>
                          <li class="nav-item sub-nav-item">
                            <a class="nav-link" href="/"><mat-icon class="icon-nav">insert_chart</mat-icon>  
                              <span class="d-none d-sm-block">
                                  CQM
                               </span> 
                              </a>
                          </li>
                          <li class="nav-item sub-nav-item">
                            <a class="nav-link" href="/"><mat-icon class="icon-nav">insert_chart</mat-icon> 
                              <span class="d-none d-sm-block">
                                  General
                               </span> 
                            </a>
                          </li>
                        </ul>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="/"><mat-icon class="icon-nav">settings</mat-icon>
                            <span class="d-none d-sm-block">
                                Settings
                            </span>  
                          </a>
                        </li>
                    </ul>
              </mat-drawer>
            </mat-drawer-container>
        <main role="main" class="pt-3">
          <h1>{{title}}</h1>
          <router-outlet></router-outlet>
        </main>
      </div>
  </div>